In [1]:
import pandas as pd
import seaborn as sn

In [4]:
df = pd.read_csv('Height.csv')
df.head()

   Index    Height
0      1  65.78331
1      2  71.51521
2      3  69.39874
3      4  68.21660
4      5  67.78781

In [5]:
df.Height.describe()

count    25000.000000
mean        67.993114
std          1.901679
min         60.278360
25%         66.704397
50%         67.995700
75%         69.272958
max         75.152800
Name: Height, dtype: float64

In [6]:
mean = df.Height.mean()
mean

67.99311359679999

In [7]:
std_deviation = df.Height.std()
std_deviation

1.9016787712056105

In [29]:
df_no_outlier = df[(df.Height < 73.69) & (df.Height > 62.28)]
df_no_outlier.shape

(24949, 3)

In [12]:
df['zscore'] = (df.Height - df.Height.mean())/df.Height.std()
df.head()

   Index    Height    zscore
0      1  65.78331 -1.162028
1      2  71.51521  1.852099
2      3  69.39874  0.739150
3      4  68.21660  0.117521
4      5  67.78781 -0.107959

In [14]:
(65.78331 - 67.99311359679999) / 1.9016787712056105

-1.1620277989426329

In [ ]:
df[(df.zscore<-3) | (df.zscore>3)]

In [30]:
df_no_outlier = df[(df.zscore>-3) & (df.zscore<3)]
df_no_outlier.shape

(24949, 3)